name: Schedule

on:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Echo current time is now
        run: echo "The current server time is $(date)"
